body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(35, 185, 215, 0.3);
  background-color: rgb(239, 239, 239); */
}

th {
  text-align: left;
}

.test {
  text-align: left;
  border: 1px ;
  resize: vertical;
  vertical-align: middle;
  word-break: keep-all;
}
